@model string

@{
    var fieldName = ViewData["FieldName"] as string ?? "CountryName";
    var countries = ViewBag.Countries as IEnumerable<string> ?? new List<string>();
}

<div class="col-md-6">
    <label for="@fieldName" class="form-label">Country</label>
    <select name="@fieldName" id="@fieldName" class="form-select"
            asp-items="@(new SelectList(countries, Model))">
        <option value="">-- Select Country --</option>
    </select>
    <span asp-validation-for="@fieldName" class="text-danger"></span>
</div>
